<div class="paper container margin-top story-card <%= "selected" if paragraph.id ==selected_paragraph_id %>" id="p<%= paragraph.id %>" tabindex="-1" data-story-target="card" data-action="click@document->story#unhighlightSelectedParagraph">
  <div class="card-body">
    <div class="row margin-bottom-none">
      <span class="card-text story-content">
        <span class="story-level"><%= paragraph.level %>.</span><%= paragraph %><span class="card-text story-date">–<%= paragraph.last_updated_date %></span>
        <a class="story-continue" href="/paragraphs/<%= paragraph.id %>/next">Continue from here…</a>
      </span>
        <%= render 'stories/paragraph_stats', paragraph: paragraph, reaction: reaction %>
    </div>
  </div>
</div>
