<%= turbo_frame_tag "p#{paragraph.id}" do %>
  <div class="paper container margin-top story-card" tabindex="-1" data-story-target="card" data-action="click@document->story#unhighlightSelectedParagraph">
    <div class="card-body">
      <div class="row margin-bottom-none">
        <div class="card-text story-body">
          <span class="story-level">
            <%= paragraph.level %>.
          </span>
          <span class="story-content">
            <%= paragraph %>
          </span>
          <div class="story-footer">
            <span class="story-author-date">
              – <%= paragraph.author.username %> on <%= paragraph.last_updated_date %>
            </span>
            <% if paragraph.last_level? %>
              <span class="story-end">(THE END.)</span>
            <% elsif !create_mode %>
              <%= link_to "Continue from here…", new_paragraph_path(paragraph), class: "story-continue-delete" %>
            <% end %>
            <% if paragraph.author == current_user %>
              <%= link_to "Delete", delete_paragraph_path(paragraph), class: "story-continue-delete", "data-turbo-method": :delete, "data-turbo-frame": "_top" %>
            <% end %>
          </div>
        </div>
        <%= render 'stories/paragraph_stats', paragraph: paragraph, reaction: reaction %>
      </div>
    </div>
  </div>

  <%= render 'shared/flash_lower' %>

  <% if create_mode %>
    <%= render 'stories/new_paragraph_form', previous_paragraph: paragraph %>
  <% end %>
<% end %>
