<h3><%= @title %></h3>

<%= render 'stories/reset_view_button', margin_top: false %>

<div data-controller="story">
  <% @branch.levels.each_with_index do |paragraphs, level_index| %>
    <%= render 'paragraph', paragraph: paragraphs.first,
                            reaction: @branch.reactions[level_index],
                            create_mode: false %>
    <% paragraphs[1..-1].each_with_index do |alternative, par_index| %>
      <%= render 'alternative_preview', paragraph: alternative,
                                        story_id: @story_id,
                                        index: par_index %>
    <% end %>
  <% end %>
</div>

<%= render 'stories/reset_view_button', margin_top: true %>